.container {
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}
.title{
    text-decoration: none;
    color: #fff;
}